.workout-link-tag {
  width: 28%;
  height: auto;
  margin: 2%;
  padding: 2%;
  border: 1px solid #c8102e;
  border-radius: 10px;
  color: white;
  font-family: 'Gotham';
  background-color: #231f20;
}

.workout-intensity-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.workout-description {
  margin-top: 5%;
  text-align: left;
}

.trainer-image {
  margin: 5%;
}

.trainer-image img {
  width: 300px;
  height: 350px;
  border-radius: 100%;
}

.tag-button {
  margin-top: 5%;
}
