.workout-link-tag {
  width: 26%;
  height: 70vh;
  margin: 2%;
  border: 1px solid #99999a;
  border-radius: 10px;
  color: white;
  font-family: 'Gotham';
  background-color: #231f20;
}

.workout-metrics {
  height: 60%;
}

p {
  margin: 2% auto;
}

.workout-intensity-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.workout-impact {
  margin: 2%;
}

.workout-level {
  margin: 2%;
}

.workout-timing-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 0;
}

.workout-title {
  margin: 2%;
}

.workout-duration {
  margin: 2%;
}

.specific-workout-text {
  height: 30%;
  color: #99999a;
  margin-top: 30%;
  width: 70%;
  margin: 30% auto;
}

.trainer-image {
  margin: 5%;
}

.trainer-image img {
  width: 300px;
  height: 350px;
  border-radius: 100%;
}
