.dashboard-page {
  text-align: center;
  width: 100vw;
  font-family: 'United Italic Condensed Heavy';
}

.workout-link-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  border: 2px solid black;
  padding: 2%;
  border-radius: 10px;
}
